@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.custom-checkout-container{
    width: 100%;
    margin: 50px auto;
    background-color: #f2f2f2;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

header {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 50px 0;
}

header>span {
    display: block;
    font-size: 30px;
    font-weight: 400;
}

.in-container {
    width: 100%;
    margin: 40px 0;

}

h2 {
    font-weight: 400;
    color: black;
    border-bottom: 1px solid black;
    border-width: 2px;
    margin: 20px 50px;
    padding: 10px;
    text-align: center;
}
.row{
    margin-left: 0 !important;
    flex-shrink: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col2{
    margin-left: 0 !important;
    flex-shrink: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.custom-row {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    display: table;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.col2 {
    display: table;
    width: 47%;
    float: left;
}

.col2:nth-child(2) {
    display: table;
    float: right;
}

.custom-label {
    line-height: 35px;
    display: table-header-group;
    letter-spacing: 0.9px;
    transition: all 0.3s ease;
}

.checkout-input {
    width: 100%;
    display: table-row-group;
    border-spacing: border-box;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    background: white;
}

.checkout-input:focus {
    outline: none !important;
    border-color: black;
    background: ghostwhite;
}

.checkout-input:focus+label {
    color: #EF5350;
}
.custom-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 100%;
}

.checkout-submit-button {
    background: darkseagreen;
    color: white;
    padding: 1rem;
    border-width: 0;
    border-radius: 5x;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    overflow: hidden !important;
    width: 100%;

}

.checkout-submit-button:hover {
    background-color: #4caf50;
}

/* Style the select element */
.custom-select {
    width: 47%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #555;
  }
  
  /* Style the options */
  .custom-select option {
    font-size: 16px;
    background-color: #fff;
    color: #555;
  }
  
  /* Style the selected option */
  .custom-select option:checked {
    background-color: #007bff;
    color: #fff;
  }
  