.div {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.divBody {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.div-col {
  height: 500px;
}

.custom-card {
  width: 300px;
  max-width: 300px !important;
  height: 480px;
  max-height: 480px !important;
  min-height: 480px;
  position: fixed;
}

.custom-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-card-body {
  background-color: #1b1b1b;
  min-height: 280px !important;
  max-height: 280px !important;
}

.custom-card-text {
  font-size: 18px;
  font-weight: light;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.custom-card-img-top{
  max-height: 200px !important;
  min-height: 150px !important;
  object-fit: cover;
  width: 100%;
}

.customDiv {
  min-width: 270px !important;
  min-height: 70px !important;
  max-width: 270px !important;
  max-height: 70px !important;
}

.custom-footer {
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 200;
  text-align: center;
  border-top: 0;
  padding-bottom: 2rem;
}

.custom-card-footer {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.checkBox {
  height: 33px;
}

.myButton {
  border: white;
  border-radius: 5px;
  color: white;
  height: 30px;
  max-height: 30px;
  width: 100px;
  text-align: center;
  font-family: sans-serif;
  font-weight: inherit;
  transition-duration: 0.4s;
  overflow: -moz-hidden-unscrollable;
  cursor: pointer;
}

.myButton.darkseagreen {
  background-color: darkseagreen;
}

.myButton.gray {
  background-color: gray;
}

.myButton:hover {
  background-color: #4caf50 !important;
  font-weight: bold;
}

.col-sm-12 {
  align-items: center;
}

/*@media screen and (max-width: 600px) {*/
/*    div.card {*/
/*        display: none;*/
/*    }*/
/*}*/

.custom-class {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.swal-text{
  font-size: 20px;
  opacity: 100%;
  color: #1b1b1b;
}

.swal-button{
  background-color: darkseagreen;
}

.swal-button:hover{
  background-color: #4caf50 !important;
}