.navbar-brand {
  color: white !important;
  text-decoration: solid;
  font-weight: bolder;
}

.nav-link{
    color: white !important;
    display: inline-block !important;
    list-style-type: none !important;
}

.nav-link:hover{
  cursor: pointer;
}

.navbar li {
  list-style-type: none;
  padding-right: 2rem;
}

/* .navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
} */
